# Python
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
.venv/
venv/
env/

# Environment Variables / Passwords
.env
*.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/